
.myBody {

    background-color: #AAA;
    height: 100%;
}

.upper {
    
    padding: 10px;

}

.bottomOfBody {

    width: 100%;
    height: 346px;
    

}

.sticky {
    display: inline;
    position: sticky;
    left: 0;
  }

#projectNameDiv {

    margin: auto;
    display: table;
    border-radius: 30px;
    background-color: #1e90ff;
    padding: 30px;

}

#projectNameSpan {

    color: khaki;

}

.selections {

    padding: 30px;
    /* background-color: #123; */
    text-align: center;
    border: #FFA solid 1px;
    border-radius: 30px;

}

.main {

    border: #EEE solid 2px;
    border-radius: 30px;
    display: inline-block;
    padding: 8px;

}

.buttons {

    border: #EEE solid 2px;
    border-radius: 30px;
    display: inline-block;
    padding: 12px;
    background-color:rgba(0, 0, 0, 0.2);
    
}

.divStatus {

    border: #EEE solid 2px;
    border-radius: 30px;
    display: inline-block;
    padding: 8px;

}

#addChildButton {

    color: red;

}

#deleteButton {

    color: greenyellow;

}


.matop100 {

    margin-top: 100px;

}
.matop10 {

    margin-top: 10px;

}

.dif {

    display: inline-flex;

}


.componentNameDiv {

    background-color: red;
    padding: 20px; 
    border-radius: 10px;
    display: inline-block;

}

.normalComponentChildComponentPlace {

    margin-left: 80px;

}


.component {

    text-align: center;
    padding: 20px 20px 0px 0px; 
    /* border: #CCC solid 1px; */

}


.otherComponent {

    text-align: center;

}

.otherComponent .componentNameDiv {

    text-align: center;

}

.otherComponent .normalComponentChildComponentPlace .componentNameDiv {

    text-align: center;

}


.otherComponentChildComponentPlace {

    display: flex;
    margin-bottom: 20px;
}

.reverseComponentChildComponentPlace {

    padding: initial;

}

.selectedComponent {

    border: #FFA solid 5px;

}

.cuttedComponent {

    opacity: 0.2;

}

.copiedComponent {

    /* font-style: italic; */
    font-style: oblique;
    color: #fff;

}


.colors {

    width: 15px;
    height: 15px;

}

#colorSchema {

    border: #EEE solid 2px;
    border-radius: 30px;
    display: inline-grid;
    padding: 8px;

}

.cS {

    display: -webkit-box;


}