<!DOCTYPE html>
<html lang="en" class="myHtml">
<head>
    <title>WBS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="myBody">
    <div class="arrow" id="arrow">◘</div>
    <div class="upper"></div>
    <div class="selections container-fluid sticky">
        <div class="main">
            <a href="/home" class="badge badge-primary badge-pill">Home</a>
            <button class="badge badge-primary badge-pill" id="newPageButton">New Page</button>
            <a href="/help" class="badge badge-primary badge-pill" id="helpPageButton">?</a>
            <!-- <button class="badge badge-warning badge-circle" id="saveButton">Save</button>
            <button class="badge badge-dark badge-circle" id="loadButton">Load</button> -->
        </div>
        <div class="buttons">
            <button class="btn btn-warning" id="addChildButton">Add Child</button>
            <button class="btn btn-dark" id="addSiblingButton">Add Sibling</button>
            <button class="btn btn-primary" id="deleteButton">Delete</button>
            <button class="btn btn-secondary" id="renameButton">Rename</button>
            <button class="btn btn-danger" id="cutButton">Cut</button>
            <button class="btn btn-light" id="copyButton">Copy</button>
            <button class="btn btn-dark" id="pasteButton">Paste</button>
            <button class="btn btn-light" id="copyStyleButton">Copy Style</button>
        </div>
        <div class="divStatus">
            <button class="btn btn-warning" id="normalComponentButton" 
            title="Align Child Components Top to Bottom">TaB</button>
            <button class="btn btn-warning" id="otherComponentButton" 
            title="Align Child Components Side by Side">SbS</button>
        </div>
        <div class="divStatus">
            <button class="btn btn-secondary" id="colorPickerButton">Open Color Picker</button>
        </div>
    </div>
    <div class="wrapperColorPicker">
        <div id="colorPickerID">
            <div class="colorPicker">
                <label for="">Custom Color :</label>
                <input type="text" class="colorPickerSharp" value="#" disabled>
                <input type="text" class="colorPickerInput">
            </div>
            <div class="colorPicker">
                <div class="copyColourComponent">Copy Me</div>
            </div>
            <div class="colorPicker">
                <span>Select the Component Above to Copy it's Style</span>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row matop100">
                <div class="col">
                    <div id="projectDiv" draggable="true" ondragstart=""  ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div id="projectNameDiv" class="projectNameDiv">
                            <span id="projectNameSpan" class="nameSpan">Project Name</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row matop10"  id="mainComponentPlace">
                <div class="col dif childComponentPlace">
                    

                    <div id="rightSideDiv1"></div>
                    <!-- <div id="rightSideDiv2"></div>
                    <div id="rightSideDiv3"></div> -->
                </div>
            </div>
        </div>
        <div class="bottomOfBody">
            
        </div>
    </div>
    <script src="/js/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
